name: Hello

on:
  push:
    branches:
      - 'main'
    paths:
      - 'solutions/hello/**'  
  workflow_dispatch:

env:
  PROJECT: onyx-silo-419016
  REGION: us-central1
  SERVICE: hello

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: 'write'
      contents: 'read'
    environment: prev
    defaults:
      run:
        working-directory: solutions/hello/infra
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Google Auth
        uses: 'google-github-actions/auth@v2.1.2'
        with:
          token_format: 'access_token'
          service_account: '${{ secrets.SERVICE_ACCOUNT }}' 
          workload_identity_provider: '${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}' 

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        
      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply